blinker==1.2
celery==3.1.7
flask==0.10.1
flask-migrate==1.1.1
flask-principal==0.4.0
flask-script==0.6.6
flask-restful==0.2.10
flask-sqlalchemy==1.0.0
flask-wtf==0.9.4
pyyaml==3.10
requests==2.2.1
scrypt==0.6.1
# Install a sqlalchemy-utils with the fixes from Tarjei's branch, but without the NumberRange fixes
# in the later releases which break wtforms-components
git+https://github.com/thusoy/sqlalchemy-utils
sqlalchemy-defaults==0.3.2
ujson==1.33
wtforms-alchemy==0.8.5
wtforms-components==0.8.0
