blinker==1.2
celery
flask
flask-migrate
flask-principal
flask-script
flask-restful
flask-sqlalchemy
flask-wtf
pyyaml
requests
scrypt
# Install from tarjei's fork until https://github.com/kvesteri/sqlalchemy-utils/pull/58 has been pushed to PyPI
git+git://github.com/thusoy/sqlalchemy-utils.git
sqlalchemy-defaults
ujson
wtforms-alchemy==0.8.5
wtforms-components==0.8.0
