<!DOCTYPE html>
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<!-- CHANGE THIS TITLE TAG -->
<title>Streamr</title>

<!-- media-queries.js -->
<!--[if lt IE 9]>
	<script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
<![endif]-->
<!-- html5.js -->
<!--[if lt IE 9]>
	<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->


<link href="static/font/stylesheet.css" rel="stylesheet" type="text/css" />
<link href="static/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
<link href="static/css/bootstrap-responsive.min.css" rel="stylesheet" type="text/css" />
<link href="static/css/styles.css" rel="stylesheet" type="text/css" />
<link href="static/css/media-queries.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" type="text/css" href="static/fancybox/jquery.fancybox-1.3.4.css" media="screen" />

<meta name="viewport" content="width=device-width" />

<link rel="shortcut icon" href="static/img/favicon.ico" type="image/x-icon">

<link href='http://fonts.googleapis.com/css?family=Exo:400,800' rel='stylesheet' type='text/css'>

</head>

<body data-spy="scroll">

<!-- TOP MENU NAVIGATION -->
<div class="navbar navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container">

			<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</a>

			<div class="nav-collapse collapse">
				<ul id="nav-list" class="nav pull-right">
					<li><a href="#home">Home</a></li>
					<li><a href="#about">About</a></li>
					<li><a href="#updates">Updates</a></li>
					<li><a href="#screenshots">Screenshots</a></li>
					<li><a href="#contact">Contact</a></li>
				</ul>
			</div>

		</div>
	</div>
</div>


<!-- MAIN CONTENT -->
<div class="container content container-fluid" id="home">



	<!-- HOME -->
	<div class="row-fluid">

		<!-- PHONES IMAGE FOR DESKTOP MEDIA QUERY -->
		<div class="span5 visible-desktop">
			<img src="static/img/phones.png">
		</div>

		<!-- APP DETAILS -->
		<div class="span7">

			<!-- ICON -->
			<div class="visible-desktop" id="icon">
				<img src="static/img/app_icon.png" />
			</div>

			<!-- APP NAME -->
			<div id="app-name">
				<h1>Streamr</h1>
			</div>

			<!-- TAGLINE -->
			<div id="tagline">
				The best friend to bring to the movies!
			</div>

			<!-- PHONES IMAGE FOR TABLET MEDIA QUERY -->
			<div class="hidden-desktop" id="phones">
				<img src="static/img/phones.png">
			</div>

			<!-- DESCRIPTION -->
			<div id="description">
				Streamr is an app to enhance online movie experience by adding a social aspect. Streamr let you create timecoded streams to a given episode/movie that you can play on your second screen while watching. In the streams you can find comments, images, observations, links to other pages for reading more, actor bios, mini reviews, audio comments, an basically everything else you want to know about a movie. You can watch everything posted from the start of the movie till the point you have watched.
			</div>
		<blockquote>
			Ever watched a movie and just wondered where you have seen the actor before? Not if you watch movies with Streamr!
		</blockquote>
			<!-- FEATURES -->
			<ul id="features">
				<li>Browse popular streams</li>
				<li>Create your own streams</li>
				<li>And it can be free!</li>
			</ul>

			<!-- DOWNLOAD & REQUIREMENT BOX -->
			<div class="download-box">
				<a href="#"><img src="static/img/available-on-the-app-store.png"></a>
			</div>
			<div class="download-box">
				<a href="#"><img src="static/img/android_app_on_play_logo_large.png"></a>
			</div>
			<div class="download-box">
				<strong>Requirements:</strong><br>
				Compatible with iPhone, iPad and iPod touch. WiFi, Edge, or 3G network connection sometimes required.
			</div>
			<div class="download-box">
				<strong>Requirements:</strong><br>
				Compatible with all Android devices. WiFi, Edge, or 3G network connection sometimes required.
			</div>

		</div>
	</div>



	<!-- ABOUT & UPDATES -->
	<div class="row-fluid" id="about">

		<div class="span6">
			<h2 class="page-title" id="scroll_up">
				About
				<a href="#home" class="arrow-top">
				<img src="static/img/arrow-top.png">
				</a>
			</h2>

			<p>Streamr is the best movie buddy you can have.</p>
            <p>Streamr is an app to enhance online movie experience by adding a social aspect. Streamr let you create timecoded streams to a given episode/movie that you can play on your second screen while watching. In the streams you can find comments, images, observations, links to other pages for reading more, actor bios, mini reviews, audio comments, an basically everything else you want to know about a movie. You can watch everything posted from the start of the movie till the point you have watched.</p>

		</div>

		<div class="span6 updates" id="updates">
			<h2 class="page-title" id="scroll_up">
				Updates
				<a href="#home" class="arrow-top">
				<img src="static/img/arrow-top.png">
				</a>
			</h2>

			<!-- UPDATES & RELEASE NOTES -->

			<h3 class="version">Version 1.0</h3>
			<span class="release-date">Released on Dec. 16th, 2013</span>
			<ul>
				<li><span class="label new">NEW</span>Initial Release</li>
			</ul>
			<hr>

		</div>

	</div>



	<!-- SCREENSHOTS -->
	<div class="row-fluid" id="screenshots">

		<h2 class="page-title" id="scroll_up">
				Screenshots
				<a href="#home" class="arrow-top">
				<img src="static/img/arrow-top.png">
				</a>
			</h2>

		<!-- SCREENSHOT IMAGES ROW 1-->
		<ul class="thumbnails">
			<li class="span3">
				<a href="static/img/screenshot.jpg" rel="gallery" class="thumbnail">
				<img src="static/img/screenshot_search.png" alt="">
				</a>
			</li>

			<li class="span3">
				<a href="static/img/screenshot.jpg" rel="gallery" class="thumbnail">
				<img src="static/img/screenshot_chose_stream.png" alt="">
				</a>
			</li>

			<li class="span3">
				<a href="static/img/screenshot.jpg" rel="gallery" class="thumbnail">
				<img src="static/img/screenshot_play.png" alt="">
				</a>
			</li>

			<li class="span3">
				<a href="static/img/screenshot.jpg" rel="gallery" class="thumbnail">
				<img src="static/img/screenshot_playing.png" alt="">
				</a>
			</li>
		</ul>

		<!-- SCREENSHOT IMAGES ROW 2-->
		<ul class="thumbnails">
			<li class="span3">
				<a href="static/img/screenshot.jpg" rel="gallery" class="thumbnail">
				<img src="static/img/screenshot_entry.png" alt="">
				</a>
			</li>

			<li class="span3">
				<a href="static/img/screenshot.jpg" rel="gallery" class="thumbnail">
				<img src="static/img/screenshot_create.png" alt="">
				</a>
			</li>

			<li class="span3">
				<a href="static/img/screenshot.jpg" rel="gallery" class="thumbnail">
				<img src="static/img/screenshot_search.png" alt="">
				</a>
			</li>

			<li class="span3">
				<a href="static/img/screenshot.jpg" rel="gallery" class="thumbnail">
				<img src="static/img/screenshot_search.png" alt="">
				</a>
			</li>
		</ul>
	</div>



	<!-- CONTACT -->
	<div class="row-fluid" id="contact">

		<h2 class="page-title" id="scroll_up">
				Contact
				<a href="#home" class="arrow-top">
				<img src="static/img/arrow-top.png">
				</a>
			</h2>

		<!-- CONTACT INFO -->
		<div class="span4" id="contact-info">
			<h3>Contact Us</h3>
			<p>Streamr is free. Feel free to contact us for questions, suggestions, bug reporting, and any relevant issues.</p>
			<p><a href="mailto:contact@trippoinc.com">contact@streamr.com</a></p>
		</div>

		<!-- CONTACT FORM -->
		<div class="span7" id="contact-form">
			<form class="form-horizontal">
				<fieldset>
					<div class="control-group">
						<label class="control-label" for="name">Name</label>
						<div class="controls">
							<input class="input-xlarge" type="text" id="name" placeholder="Brad Bitt">
						</div>
					</div>
					<div class="control-group">
						<label class="control-label" for="email">Email</label>
						<div class="controls">
							<input class="input-xlarge" type="text" id="email" placeholder="bitt_88@gmail.com">
						</div>
					</div>
					<div class="control-group">
						<label class="control-label" for="subject">Subject</label>
						<div class="controls">
							<input class="input-xlarge" type="text" id="subject" placeholder="General Inquiry">
						</div>
					</div>
					<div class="control-group">
						<label class="control-label" for="message">Message</label>
						<div class="controls">
							<textarea class="input-xlarge" rows="3" id="message" placeholder="Your message..."></textarea>
						</div>
					</div>
					<div class="form-actions">
						<button type="submit" class="btn btn-primary">SEND</button>
					</div>
				</fieldset>
			</form>
		</div>

	</div>

</div>


<!-- FOOTER -->
<div class="footer container container-fluid">

	<!-- COPYRIGHT - EDIT HOWEVER YOU WANT! -->
	<div id="copyright">
		Copyright &copy; 2013 Alexis, Tarjei and Hilde<br>
	</div>

	<!-- CREDIT - PLEASE LEAVE THIS LINK! -->
	<div id="credits">
		<a href="http://www.trippoinc.com/flexapp">Theme</a> by <a href="http://www.trippoinc.com">Trippo</a>.
	</div>

</div>

<script src="http://code.jquery.com/jquery-1.7.2.min.js"></script>
<script src="static/js/bootstrap.min.js"></script>
<script src="static/js/bootstrap-collapse.js"></script>
<script src="static/js/bootstrap-scrollspy.js"></script>
<script src="static/fancybox/jquery.mousewheel-3.0.4.pack.js"></script>
<script src="static/fancybox/jquery.fancybox-1.3.4.pack.js"></script>
<script src="static/js/init.js"></script>

</body>
</html>
