<!DOCTYPE html>
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<!-- CHANGE THIS TITLE TAG -->
<title>Streamr</title>

<!-- media-queries.js -->
<!--[if lt IE 9]>
    <script src="https://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
<![endif]-->
<!-- html5.js -->
<!--[if lt IE 9]>
    <script src="https://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->


<link href="static/font/stylesheet.css" rel="stylesheet" type="text/css" />
<link href="static/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
<link href="static/css/bootstrap-responsive.min.css" rel="stylesheet" type="text/css" />
<link href="static/css/styles.css" rel="stylesheet" type="text/css" />
<link href="static/css/media-queries.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" type="text/css" href="static/fancybox/jquery.fancybox-1.3.4.css" media="screen" />

<meta name="viewport" content="width=device-width" />

<link rel="shortcut icon" href="static/img/favicon.ico" type="image/x-icon">

<link href='https://fonts.googleapis.com/css?family=Exo:400,800' rel='stylesheet' type='text/css'>

</head>

<body data-spy="scroll">

<!-- TOP MENU NAVIGATION -->
<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">

            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>

            <div class="nav-collapse collapse">
                <ul id="nav-list" class="nav pull-right">
                    <li><a href="#home">Home</a></li>
                    <li><a href="#about">About</a></li>
                    <li><a href="#updates">Updates</a></li>
                    <li><a href="#screenshots">Screenshots</a></li>
                    <li><a href="#contact">Contact</a></li>
                </ul>
            </div>

        </div>
    </div>
</div>


<!-- MAIN CONTENT -->
<div class="container content container-fluid" id="home">



    <!-- HOME -->
    <div class="row-fluid">

        <!-- PHONES IMAGE FOR DESKTOP MEDIA QUERY -->
        <div class="span5 visible-desktop">
            <img src="static/img/phones.png">
        </div>

        <!-- APP DETAILS -->
        <div class="span7">

            <!-- ICON -->
            <div class="visible-desktop" id="icon">
                <img src="static/img/app_icon.png" />
            </div>

            <!-- APP NAME -->
            <div id="app-name">
                <h1>Streamr</h1>
            </div>


            <!-- PHONES IMAGE FOR TABLET MEDIA QUERY -->
            <div class="hidden-desktop" id="phones">
                <img src="static/img/phones.png">
            </div>

            <!-- DESCRIPTION -->
            <div id="description">
                <br><br><br>
                <p>
                    Streamr enhances your movie experiences by adding an extra social content layer. Streamr lets you createthe content you'd like to see next to a movie, and will enable others to take see the movie with your extra content. Write comments, post images, observations, actor bios, mini reviews, audio comments, basically everything  you can think of that others might want to see when watching a movie.
                </p>
            </div>
        <blockquote>
            Ever watched a movie and just wondered where you have seen the actor before? Not if you watch movies with Streamr!
        </blockquote>
            <!-- FEATURES -->
            <ul id="features">
                <li>Browse popular streams</li>
                <li>Create your own streams</li>
                <li>And it is free!</li>
            </ul>

            <!-- DOWNLOAD & REQUIREMENT BOX -->
            <p>Coming to an appstore near you!</p>
            <div class="download-box">
                <a href="#"><img src="static/img/available-on-the-app-store.png"></a>
            </div>
            <div class="download-box">
                <a href="static/apk/streamr.apk"><img src="static/img/android_app_on_play_logo_large.png"></a>
            </div>
            <div class="download-box">
                <strong>Requirements:</strong><br>
                Compatible with iPhone, iPad and iPod touch. WiFi, Edge, or 3G network connection required.
            </div>
            <div class="download-box">
                <strong>Requirements:</strong><br>
                Compatible with all Android devices. WiFi, Edge, or 3G network connection required.
            </div>

        </div>
    </div>

    <!-- ABOUT & UPDATES -->
    <div class="row-fluid" id="about">

        <div class="span6">
            <h2 class="page-title" id="scroll_up">
                About
                <a href="#home" class="arrow-top">
                <img src="static/img/arrow-top.png">
                </a>
            </h2>
            <p>
                Streamr enhances online movie experiences by adding a social aspect. Streamr lets you create timecoded streams to a given episode/movie that you can play on your second screen while watching. In the streams you can find comments, images, observations, links to other pages for reading more, actor bios, mini reviews, audio comments, and basically everything else you want to know while watching a movie.
            </p>
            <p>
                Streamr has a strong focus on not disrupting your movie experience, but wants to be there for you when there's something you're wondering about. New actor on screen that you know you've seen somewhere? A glance down on streamr is probably all you need. If however you're in a more social setting and want to be reminded about funny trivias during the movie, enable notifications and you can be center of all laughs during the movie.
            </p>
            <p>
                Streamr is a strictly second screen experience, playing back content on your phone or tablet while the main movie plays on either your laptop, TV or home cinema. Sick and tired of annotations on YouTube? Streamr never comes between you and your movie.
            </p>
        </div>

        <div class="span6 updates" id="updates">
            <h2 class="page-title" id="scroll_up">
                Updates
                <a href="#home" class="arrow-top">
                <img src="static/img/arrow-top.png">
                </a>
            </h2>

            <!-- UPDATES & RELEASE NOTES -->

            <h3 class="version">Version 0.4</h3>
            <span class="release-date">Released on Feb. 12th, 2014</span>
            <ul>
                <li><span class="label new">NEW</span>You can now go back and edit streams you're working on</li>
            </ul>
            <hr>

            <h3 class="version">Version 0.3</h3>
            <span class="release-date">Released on Feb. 12th, 2014</span>
            <ul>
                <li><span class="label new">NEW</span>Streams made private by default, so that you can choose to publish them when you're done</li>
            </ul>
            <hr>


            <h3 class="version">Version 0.2.2</h3>
            <span class="release-date">Released on Feb. 8th, 2014</span>
            <ul>
                <li><span class="label fix">FIX</span>More relevant search results</li>
                <li><span class="label new">NEW</span>Added a settings page where you can customize how to be notified of new streams</li>
            </ul>
            <hr>
            <h3 class="version">Version 0.2.1</h3>
            <span class="release-date">Released on Jan. 9th, 2014</span>
            <ul>
                <li><span class="label new">NEW</span>Movies stop playback automatically when you reach the end</li>
            </ul>
            <hr>

            <h3 class="version">Version 0.1</h3>
            <span class="release-date">Released on Dec. 16th, 2013</span>
            <ul>
                <li><span class="label new">NEW</span>First release</li>
            </ul>
            <hr>

        </div>

    </div>



    <!-- SCREENSHOTS -->
    <div class="row-fluid" id="screenshots">

        <h2 class="page-title" id="scroll_up">
                Screenshots
                <a href="#home" class="arrow-top">
                <img src="static/img/arrow-top.png">
                </a>
            </h2>

        <!-- SCREENSHOT IMAGES ROW 1-->
        <ul class="thumbnails">
            <li class="span3">
                <a href="static/img/screenshot_search.png" rel="gallery" class="thumbnail">
                <img src="static/img/screenshot_search.png" alt="">
                </a>
            </li>

            <li class="span3">
                <a href="static/img/screenshot_chose_stream.png" rel="gallery" class="thumbnail">
                <img src="static/img/screenshot_chose_stream.png" alt="">
                </a>
            </li>

            <li class="span3">
                <a href="static/img/screenshot_play.png" rel="gallery" class="thumbnail">
                <img src="static/img/screenshot_play.png" alt="">
                </a>
            </li>

            <li class="span3">
                <a href="static/img/screenshot_playing.png" rel="gallery" class="thumbnail">
                <img src="static/img/screenshot_playing.png" alt="">
                </a>
            </li>
        </ul>

        <!-- SCREENSHOT IMAGES ROW 2-->
        <ul class="thumbnails">
            <li class="span3">
                <a href="static/img/screenshot_mystreams.jpg" rel="gallery" class="thumbnail">
                <img src="static/img/screenshot_mystreams.jpg" alt="">
                </a>
            </li>

            <li class="span3">
                <a href="static/img/screenshot_login.jpg" rel="gallery" class="thumbnail">
                <img src="static/img/screenshot_login.jpg" alt="">
                </a>
            </li>

            <li class="span3">
                <a href="static/img/screenshot_ipad1.jpg" rel="gallery" class="thumbnail">
                <img src="static/img/screenshot_ipad1.jpg" alt="">
                </a>
            </li>

            <li class="span3">
                <a href="static/img/screenshot_ipad2.jpg" rel="gallery" class="thumbnail">
                <img src="static/img/screenshot_ipad2.jpg" alt="">
                </a>
            </li>
        </ul>
    </div>

    <!-- CONTACT -->
    <div class="row-fluid" id="contact">

        <h2 class="page-title" id="scroll_up">
                Contact
                <a href="#home" class="arrow-top">
                <img src="static/img/arrow-top.png">
                </a>
            </h2>

        <!-- CONTACT INFO -->
        <div class="span4" id="contact-info">
            <h3>Contact Us</h3>
            <p>Streamr is free. Feel free to contact us for questions, suggestions, bug reporting, and any relevant issues.</p>
            <p><a href="mailto:streamr@thusoy.com">streamr@thusoy.com</a></p>
        </div>
    </div>

</div>

<!-- FOOTER -->
<div class="footer container container-fluid">

    <!-- COPYRIGHT - EDIT HOWEVER YOU WANT! -->
    <div id="copyright">
        Copyright &copy; 2013 Alexis, Tarjei and Hilde<br>
    </div>

    <!-- CREDIT - PLEASE LEAVE THIS LINK! -->
    <div id="credits">
        <a href="https://www.trippoinc.com/flexapp">Theme</a> by <a href="https://www.trippoinc.com">Trippo</a>.
    </div>

</div>

<script src="https://code.jquery.com/jquery-1.7.2.min.js"></script>
<script src="static/js/bootstrap.min.js"></script>
<script src="static/js/bootstrap-collapse.js"></script>
<script src="static/js/bootstrap-scrollspy.js"></script>
<script src="static/fancybox/jquery.mousewheel-3.0.4.pack.js"></script>
<script src="static/fancybox/jquery.fancybox-1.3.4.pack.js"></script>
<script src="static/js/init.js"></script>

</body>
</html>
